h1{
    color: black;
    text-align: center;
    border: 2px solid;
    background-color: mistyrose;
    padding: 10px;
}
h2{
    color: blue;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}